.poppins {
    font-family: 'Poppins';
}

/* box */
* {
    box-sizing: border-box;
}

/* row */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.gallery.row {
    display: flex;
    flex-wrap: wrap;
    border-style: dashed;
    border-color: #00BFA6;
    border-radius: 16px;
    margin: 32px;
}

.gallery.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.gallery.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* grid */
[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.p-24 {
    padding: 24px;
}

.p-32 {
    padding: 32px;
}

.text-center {
    padding-top: 64px;
}

.items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-large {
    font-size: 16px;
}

.text-matt {
    color: #3d3d3d;
}

div.bg-circle-matte {
    background-color: #3d3d3d;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

img.icon-major {
    width: 200px;
    height: 200px;
    max-width: 100%;
}

div.bg-circle {
    background-color: #00BFA6;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

img.ava-heroes {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    margin-left: -70px;
    margin-top: 20px;
    object-fit: cover;
    border-style: dashed;
    padding: 10px;
    border-color: #fff;
    width: 200px;
    height: 200px;
    max-width: 100%;
}

#map {
    width: 100%;
    height: 400px;
}

input[type=text], input[type=email], textarea {
    font-family: 'Poppins';
    border-radius: 4px;
    border: 1px solid #3d3d3d3f;
    width: 100%;
    padding: 12px;
}

input[type=submit] {
    font-family: 'Poppins';
    color: #fff;
    background-color: #00BFA6;
    border-radius: 4px;
    border: none;
    padding: 10px 18px 10px 18px;
    float: right;
}

input[type=submit]:hover {
    background-color: #00bfa6dc;
    cursor: pointer;
}

/* phone */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }

    .text-center {
        text-align: center;
        padding-top: 0px;
    }

    input[type=submit] {
        font-family: 'Poppins';
        color: #fff;
        width: 100%;
        background-color: #00BFA6;
        border-radius: 4px;
        border: none;
        padding: 10px 18px 10px 18px;
        float: right;
    }
}

@media (max-width: 800px) {
    .gallery.column {
      flex: 50%;
      max-width: 50%;
    }
}

@media (max-width: 600px) {
    .gallery.column {
      flex: 100%;
      max-width: 100%;
    }
}
