.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style-type: none;
    margin-left: 3vh;
    padding: 16px;
}

.navbar ul li a {
    text-decoration: none;
    color: #00BFA6;
}

.navbar ul li a:visited {
    text-decoration: none;
    color: #00BFA6;
}

.navbar ul li a:hover {
    color: #3d3d3d;
}

/* phone */
@media only screen and (max-width: 768px) {
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }
    
    .navbar ul li a {
        display: block;
        width: 100%;
        color: #00BFA6;
    }
    
    .navbar ul li a:visited {
        display: block;
        width: 100%;
        color: #00BFA6;
    }
    
    .navbar ul li a:hover {
        display: block;
        width: 100%;
        color: #3d3d3d;
    }
}